.dashboard {
  display: flex;

  .dash-child {
    margin: 0px 10px;
    height: 100%;
  }

  #left-dash-child {
    width: 40%;
    text-align:center;

    .upload-pet-button {
      @include btn;
      margin: 20px 20px;
    }
  }

  #right-dash-child {
    width: 60%;
    text-align: left;

    .lost-found-scroll {
      width: 200px;
    }
  }
}