.map-container {
  border-radius: 7px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

#left-dash-child {
  .map-container > div:first-child {
    width: 700px !important;
    height: 700px !important;
  }
}
