.form-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #bc4639;
  color: #5c2018;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 30vw;
  border-radius: 5px;
}

.form-title {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 6vh;
  margin-bottom: 40px;
  background: #ffffffc5;
  border-radius: 5px;
  padding: 0 20px;
}

.form-page-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  margin-top: 50px;

  .map-container {
    display: flex;
    flex-flow: column;
    border: none;
  }

  .form-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-flow: column;
    width: 60%;

    input {
      height: 4vh;
      width: 100%;
      border-radius: 5px;
      border: none;
      padding-left: 10px;
    }

    select, select:active, option {
      @include dropdown;
      padding: 5px;
    }

    .left-form-input {
      width: 90%;
    }

    .add-form {
      display: flex;
      flex-flow: row;
      width: 100%;

      .form-control {
        display: flex;
        justify-content: space-around;
        height: 50vh;
        width: 100%;
        background: #e6bdb3;
        border-radius: 5px;
        padding: 20px;
      }

      .left-form {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        width: 40%;

        .dropies {
          display: flex;
          justify-content: space-around;
          width: 100%;
        }
        .lost-or-found {
          width: 20%;
        }

        label {
          margin-bottom: 10px;
        }
      }

      .right-form {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        text-align: center;
      }
    }
  }
}

.submit-btn {
  @include btn;
}

label {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 0.85em;
}
